.box{
    display:flex;
    justify-content: space-evenly;
    height:100vh;
    width:100vw;
    background-color:#16163F;
    margin:0px;
    padding:0px;
   

}
.bo{

    margin-top:5vw;
    border-radius: 15px;
   text-align:center;
  

}
img{
    border:2px solid black;
    border-radius:15px;
    height:20vw

    
}
button{
    background-color: lightseagreen;
   border-radius:10px;
    height:3vw;
    width:6vw;
}
*{
    margin:0%;
    padding:0%;
}
@media(max-width:600px){
    .box{
        flex-direction: column;
        margin:0px;
    }
    img{
        height:50vw;
    }
    .bo{
        margin-top:0px;
    }
    button{
        height:10vw;
        width:20vw;
    }
}
