*{
    margin:0%;
    padding:0%;
}
body{
    display:flex;
  justify-content: center;
 align-items: center;
    background-color: black;
    color:green

    
}
canvas{
    height:100vh;
    /* width:50vw; */
    border-right: 20px solid red;
}
.text{
    margin-top:-500px;
    position: absolute;
    margin-right:-70vw;
   line-height: 50px;

}
.text #name{
font-size: 2.8vw;
color:red;
}
#score{
    color:white
}
button{
    height:40px;
    width:70px;
    border-radius: 10%;
}
.over{
    position: absolute;
    margin-top: -400px;
    text-align: center;
    line-height: 100px;
    display: none;
    flex-direction: column;
}
/* effect for game oiver */
.over .animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 6vw;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* CSS FOR BUJJI INTO */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background: #000;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 4.5vw;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
/* CSS ENDS FOR BUJJI */
.over h1{
    font-size: 60px;
    color:red;
    font-family: Arial, Helvetica, sans-serif;
}
.over p{
    color:black;
    font-size: 2vw;
    font-weight: 700;

}
img{
    height:50px;
}
#bujji{
    /* height:150px; */
    height:10vw;
}
.bujji_intro{
    position: absolute;
    margin-left:-65vw;
    line-height: 100px;
    margin-top:-300px;

}
.bujji_intro h1{
    color:white;
    font-size: 2vw;
}
.bujji_intro p{
    color:red;
    font-size: 1vw;;
}

/* optimisation for mobile */

@Media(max-width:1000px){
  .over .animate-charcter
  {
     text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    /* text-fill-color: transparent; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size: 30px;
  }
  .over p{
    color:black;
    font-size: 10px;
    font-weight: 700;

}
}
